<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Benjamin Moss <benmoss2002@fastmail.co.uk">

    <link rel="stylesheet" type="text/css" href="{{ globals.css_path}}">

    <title>{{ page.title }}</title>
</head>
<body
    class="flex flex-col justify-center align-middle items-center space-y-3
    bg-stone-100">

    {% block content %} {% endblock %}

    {% include "scripts.twig" %}
    
</body>

</html>