<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Benjamin Moss">

    <link rel="stylesheet" type="text/css" href="/css/output.css">

    <title>{{ page.title }}</title>
</head>
<body
    class="min-h-screen grid grid-rows-md grid-cols-md xl:grid-cols-xl
    bg-zinc-100">

    <div
        class="sticky top-0 left-0 row-start-1 row-span-1 col-start-1 col-span-full z-50 
        flex flex-row justify-center align-middle items-center h-full
        border-b border-stone-700 bg-stone-900">

        <div
            class="flex flex-row justify-center items-center space-x-3 h-fit px-6">

            <img
                class="h-8"
                src="/assets/images/logo_dark.svg"
                alt="">

            <h1 class="font-bold text-white">zenRepair</h1>

        </div>

        <div class="flex-grow"></div>
    
    </div>

    <div
        class="row-start-2 row-span-full col-start-1 col-end-5
        flex flex-col justify-start align-middle items-center
        border-r border-stone-300 shadow-sm">

        <div
            class="flex flex-col justify-center align-middle items-start space-y-3
            w-full px-6 py-12">

            <h1 class="font-bold text-2xl text-stone-900">Log in</h1>
            <p class="text-sm text-stone-700">
                Don't have an account? <a class="underline" href="#">Request an account here</a>
            </p>
        </div>

        <form
            id="authForm"
            class="flex flex-col justify-center align-middle items-start space-y-3
            w-full px-6"

            action="">

            <div class="w-full space-y-1.5">
                <label class="text-sm" for="username">Username</label>
                <input class="w-full p-1.5 text-sm border-stone-300 bg-white" type="text" name="username" id="">
            </div>

            <div class="w-full space-y-1.5">
                <label class="text-sm" for="username">Password</label>
                <input class="w-full p-1.5 text-sm border-b border-stone-300 bg-white" type="password" name="password" id="">
            </div>

            <div class="w-full py-3 flex flex-row justify-start align-middle items-center space-x-3">
                <input type="checkbox" name="remember_me" id="">
                <label class="text-sm" for="remember_me">Remember Me</label>
            </div>

            <button
                id="authFormBtn"
                hx-post="/auth/login"
                hx-include="#authForm"
                class="flex flex-row justify-between align-middle items-center space-x-3
                w-full p-3 bg-blue-600 hover:bg-blue-500">

                <p class="font-medium text-white">Continue</p>

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f7f7f7" viewBox="0 0 256 256"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                
            </button>
        </form>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
</body>
</html>