{% extends "layout_ws.twig" %}

{% block content_area %}

<div
    class="row-start-2 row-span-full col-start-1 col-span-full
        flex flex-col justify-start align-middle items-center space-y-3">

    <div
        class="w-full p-3">

        <h1 class="font-bold text-2xl text-stone-700">Dashboard</h1>
    
    </div>

</div>

{% endblock %}